.w100 {
    width: 100% !important;
}

.largeTitle {
    color: white !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smallTitle {
    color: white !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-control:focus{
    color: white;
}

.dropdown-item:hover {
    color: lightblue;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

input {
    color: white;
}